*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f29559;
    text-align: center;
}
h2 {
    font-size: 3rem;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #f2d492;
     color: #202c39;
    font-size: 8vmin;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-bottom: 20px;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg {
    font-size: 3rem;
}
.msg-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}